body {
  font-family: "Georgia","Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Times New Roman","Times",Serif;
  font-size: 15px;
  line-height: 15px;
  background: #111;
  color: #000;
  margin: 0;
  padding: 0;
  font-style: italic;
  letter-spacing: 2px;
  overflow-x:hidden;
}
#header{
  position: relative;
  overflow: hidden;
}
img {
  display: block;
  width: 108%;
  height: 108%;
  margin-top: -4%;
  margin-left: -4%;
}
li.layer{
  width: 100%;
}
#header .layer img:nth-child(2){
  margin-top: -82%;
  opacity: 0;
}
#header .layer:nth-child(3) img{
  width: 394px;
  height: 394px;
  position: relative;
  margin: 80px auto;
}

#header .layer:nth-child(4) img{
  margin-top: -12%;
}

#header .layer:nth-child(5) img{
  margin-top: -10%;
  margin-left: -10%;
}
#header .layer:nth-child(6) img{
  width: 110px;
  height: 110px;
  position: relative;
  margin: 40% auto;
}
#header .layer:nth-child(7) img{
  margin-top: -10%;
  margin-left: 10%;
}
#header .layer:nth-child(8) img{
  width: 785px;
  height: 401px;
  position: relative;
  margin: 80px auto;
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.scene {
  padding: 0;
  margin: 0;
}

.bg_static {
  width: 100%;
  height: 100%;
  opacity: .08;
  filter: alpha(opacity=8);
  -ms-filter: "alpha(opacity=8)";
  background: transparent url(../images/gif.gif) repeat;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

section{
  position: relative;
  overflow: hidden;
}
section img{
  display: block;
  width: 124%;
  height: 124%;
  margin-top: -12%;
  margin-left: -12%;
}
/*
#sec1 {
  background: url(../images/sec1.png) no-repeat center center fixed;
}*/
.sec-num{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  position: relative;
  margin: 31% auto auto 50px;
}
.sec-t{
  width: 193px;
  height: 80px;
  position: relative;
  margin: 30% auto auto 180px;

}
.sec-eg{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}
.sec-d{
  position: relative;
  margin: 40% auto auto 180px;
}
.sec-num span{
  font-size: 54px;
}
#sec1 .layer:nth-child(4) div{
  position: relative;
  margin: 35% auto auto 400px;
}
#sec2{
  color: #fff;
}
#sec2 .layer:nth-child(4) div{
  position: relative;
  margin: 35% auto auto 400px;
}
@media screen and (max-width: 650px) {
  .sec-num{
    text-align: center;
    margin:280px auto !important;
  }
  .sec-t{
    margin:340px auto !important;
  }
  .sec-eg{
    text-align: center;
    margin:440px auto !important;
  }
  .sec-d{
    margin: 500px auto !important;
    width: 350px;
    line-height: 20px;
    text-align: center;
  }
  #header .layer:nth-child(2) img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 20%;
  }
  #header .layer:nth-child(4) img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 20%;
  }
  #header .layer:nth-child(5) img{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }
  #header .layer:nth-child(7) img{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }
  #header .layer:nth-child(8) img{
    width: 700px;
    height: 358px;
    position: relative;
    margin: 250px auto;
  }


}