body {
  font-family: "Georgia","Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Times New Roman","Times",Serif;
  font-size: 15px;
  line-height: 15px;
  background: #111;
  color: #000;
  margin: 0;
  padding: 0;
  font-style: italic;
  letter-spacing: 2px;
  overflow-x:hidden;
}
#bgm{
  position: fixed;
  right: 30px;
  top: 30px;
}
#bgm a img{
  width: 44px;
  height: 44px;
}
#header{
  position: relative;
  overflow: hidden;
}
img {
  display: block;
  width: 108%;
  height: 108%;
  margin-top: -4%;
  margin-left: -4%;
}
li.layer{
  width: 100%;
}
#header .layer:nth-child(1) img{
  -webkit-animation: wave 14s 0.1s infinite linear;
  -moz-animation: wave 14s 0.1s infinite linear;
  animation: wave 14s 0.1s infinite linear;
}
#header .layer:nth-child(2) img{
  -webkit-animation: wave 4s 0.1s infinite linear;
  -moz-animation: wave 4s 0.1s infinite linear;
  animation: wave 4s 0.1s infinite linear;
}
#header .layer img:nth-child(2){
  margin-top: -82%;
  opacity: 0;
}
#header .layer:nth-child(3) img{
  width: 394px;
  height: 394px;
  position: relative;
  margin: 10% auto;
}

#header .layer:nth-child(4) img{
  margin-top: -3%;
  -webkit-animation: wave2 4s 0.1s infinite linear;
  -moz-animation: wave2 4s 0.1s infinite linear;
  animation: wave2 4s 0.1s infinite linear;
}

#header .layer:nth-child(5) img{
  margin-top: -10%;
  margin-left: -10%;
  -webkit-animation: wave3 4s 0.1s infinite linear;
  -moz-animation: wave3 4s 0.1s infinite linear;
  animation: wave3 4s 0.1s infinite linear;
}
#header .layer:nth-child(6) img{
  width: 110px;
  height: 110px;
  position: relative;
  margin: 45% auto;
}
#header .layer:nth-child(7) img{
  margin-top: -10%;
  margin-left: 10%;
  -webkit-animation: wave3 4s 0.1s infinite linear;
  -moz-animation: wave3 4s 0.1s infinite linear;
  animation: wave3 4s 0.1s infinite linear;
}
#header .layer:nth-child(8) img{
  width: 785px;
  height: 401px;
  position: relative;
  margin: 10% auto;
  opacity: 0.9;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.scene {
  padding: 0;
  margin: 0;
}

.bg_static {
  width: 100%;
  height: 100%;
  opacity: .08;
  filter: alpha(opacity=8);
  -ms-filter: "alpha(opacity=8)";
  background: transparent url(../images/gif.gif) repeat;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

section{
  position: relative;
  overflow: hidden;
}
section img{
  display: block;
  width: 124%;
  height: 124%;
  margin-top: -12%;
  margin-left: -12%;
}
/*
#sec1 {
  background: url(../images/sec1.png) no-repeat center center fixed;
}*/
.sec-num{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  position: relative;
  margin: 31% auto auto 50px;
}
.sec-t{
  width: 193px;
  height: 80px;
  position: relative;
  margin: 30% auto auto 180px;

}
.sec-eg{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}
.sec-d{
  position: relative;
  margin: 40% auto auto 180px;
}
.sec-num span{
  font-size: 54px;
}
#sec1 .layer:nth-child(4) div{
  position: relative;
  margin: 35% auto auto 400px;
}
#sec2{
  color: #fff;
}
#sec2 .layer:nth-child(4) div{
  position: relative;
  margin: 35% auto auto 400px;
}


@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
  }
}

@-webkit-keyframes wave3 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave3 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave3 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
  }
}

@keyframes wave3 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,3.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,3.5%,0) rotateZ(-360deg);
  }
}

@-webkit-keyframes wave2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
  }
}

@keyframes wave2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,2.5%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,2.5%,0) rotateZ(-360deg);
  }
}

@media screen and (max-width: 650px) {
  .sec-num{
    text-align: center;
    margin:280px auto !important;
  }
  .sec-t{
    margin:340px auto !important;
  }
  .sec-eg{
    text-align: center;
    margin:440px auto !important;
  }
  .sec-d{
    margin: 500px auto !important;
    width: 350px;
    line-height: 20px;
    text-align: center;
  }
  #header .layer:nth-child(2) img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 20%;
  }
  #header .layer:nth-child(3){
    z-index: 999;
  }
  #header .layer:nth-child(3) img{
    margin: 10% auto;
  }
  #header .layer:nth-child(4) img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 20%;
  }
  #header .layer:nth-child(5) img{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }
  #header .layer:nth-child(6) img{
    margin: 45% auto;
  }
  #header .layer:nth-child(7) img{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 25%;
  }
  #header .layer:nth-child(8) img{
    width: 700px;
    height: 358px;
    position: relative;
    margin: 350px auto;
  }


}